workflows/video-faceless-hailuo.json
{
  "name": "Tutorial 11.3 - Hailuoai Faceless Video",
  "nodes": [
    {
      "parameters": {},
      "id": "646dd29d-03ed-43eb-b9b6-263518deb9b3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        60
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41a5f41c-2aba-4ab9-943e-e0eda429a7bb",
              "name": "Video Category",
              "value": "Cute Duck Story in The Jungle",
              "type": "string"
            },
            {
              "id": "c7c1a567-3881-44e5-b4bd-1b973e0fc485",
              "name": "Bucket Name",
              "value": "n8n-backend",
              "type": "string"
            },
            {
              "id": "5f370ec3-f135-4ba8-bdf8-828c7e00059e",
              "name": "Unique ID",
              "value": "={{ $now.valueOf() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38a3d426-c2b9-465c-ab7a-bee6f513e7d9",
      "name": "Video Category",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/xxxxxxxxxx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1c0de75-bd61-4ca7-9987-b572bab171a3",
      "name": "Fetch Elevenlabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PkeQqSqFC0bnSUyq",
          "name": "Elevenlabs API"
        }
      }
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "={{ $('Video Category').first().json['Bucket Name'] }}",
        "objectName": "=voice-{{ $('Video Category').first().json['Unique ID'] }}.mp3",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "60aaef97-cd90-4fa2-b764-103982cced55",
      "name": "Save Audio",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1220,
        60
      ],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "APyiw1TsvCcUIbPY",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa85d7b9-aede-4b61-a8f1-78a1dba92869",
              "name": "Audio URL",
              "value": "=https://{{ $('Video Category').first().json['Bucket Name'] }}.storage.googleapis.com/voice-{{ $('Video Category').first().json['Unique ID'] }}.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd50cf09-89fa-4b39-acea-4aeb218ef345",
      "name": "Map Public Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        60
      ]
    },
    {
      "parameters": {
        "url": "={{ $json['Audio URL'] }}",
        "options": {}
      },
      "id": "62618c59-1603-44a2-9756-da327317dfb8",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "54bd800f-6d0c-4995-9c67-b62f92e40675",
      "name": "Open AI Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const words = item.json.words; // Assuming the words are stored in item.json.words\n  const result = [];\n  \n  let startTime = words[0].start; // Start time for the first word\n  let endTime = startTime + 6; // Set the 6-second interval\n  \n  let currentGroup = []; // Holds the current group of words\n  \n  // Loop through each word and group them into 6-second intervals\n  let index = 0;\n  for (const word of words) {\n    if (word.start < endTime) {\n      // If the word's start time is within the current 6-second interval\n      currentGroup.push(word.word);\n    } else {\n      index ++;\n      // If the word's start time exceeds the current interval, save the group\n      result.push({\n        text: currentGroup.join(' '),\n        start: startTime,\n        end: word.end,\n        index: index\n      });\n      \n      // Start a new group for the next interval\n      startTime = word.start;\n      endTime = startTime + 6;\n      currentGroup = [word.word]; // Start with the current word\n    }\n  }\n\n  // Push the last group if there are any remaining words\n  if (currentGroup.length > 0) {\n    index++;\n    result.push({\n      text: currentGroup.join(' '),\n      start: startTime,\n      end: words[words.length - 1].end,\n      index: index\n    });\n  }\n\n  return {\n    json: {\n      groups: result,\n    },\n  };\n});\n"
      },
      "id": "8ff1a0b5-01e3-4b0e-920e-d6605977feff",
      "name": "Create a List of Image Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "groups",
        "options": {}
      },
      "id": "57180a97-25ae-4847-a1ff-fb0fd379a026",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "choices[0].message.content",
        "options": {
          "destinationFieldName": "prompt"
        }
      },
      "id": "4a302bf7-04fa-487d-bbe1-481a91cf02e7",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"negative_prompt\": \"text, watermark, signature, paragraph, wording, letters, symbols, writing, nude, nudity, explicit content, obscene, inappropriate, offensive, forbidden, illegal, prohibited, sexual, graphic, violence, gore, blood, disturbing\",\n  \"width\": 1024,\n  \"height\": 1024,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}",
        "options": {}
      },
      "id": "acc085e0-b37c-4218-b4b4-8fbf5d25194d",
      "name": "Get Image Base 64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QZsvmtZA43DzE9MH",
          "name": "Together AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output.choices[0].image_base64",
        "options": {}
      },
      "id": "10ded0ed-5e45-4495-ad8a-1c698474de21",
      "name": "Convert to Image",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1100,
        560
      ]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "={{ $('Video Category').first().json['Bucket Name'] }}",
        "objectName": "=image-{{ $('Video Category').first().json['Unique ID'] }}-{{ $itemIndex + 1 }}.jpeg",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "725bac57-2df8-4413-9199-8aff20d54fb5",
      "name": "Save Image",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "APyiw1TsvCcUIbPY",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/video_generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_frame_image",
              "value": "=https://{{ $json.bucket }}.storage.googleapis.com/{{ $json.name }}"
            },
            {
              "name": "model",
              "value": "video-01"
            },
            {
              "name": "prompt",
              "value": "={{ $('Generate Image Prompt').item.json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "680acf69-2363-446c-a6da-df0a9d9cd5e4",
      "name": "Hailuo AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uMDvBl68RIlfJVrW",
          "name": "Hailuo AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.minimaxi.chat/v1/query/video_generation?task_id={{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "4192a93c-c26a-4237-ba97-a289b03caf40",
      "name": "Get Hailuo Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uMDvBl68RIlfJVrW",
          "name": "Hailuo AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.minimaxi.chat/v1/files/retrieve?GroupId=1887476050879849130&file_id={{ $json.file_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.minimaxi.chat"
            }
          ]
        },
        "options": {}
      },
      "id": "bf5e8e67-27fb-4a4e-95da-4a8f25b073c4",
      "name": "Get Hailuo Download Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uMDvBl68RIlfJVrW",
          "name": "Hailuo AI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.file.download_url }}",
        "options": {}
      },
      "id": "8c6f05cc-10e6-449c-a5bb-a94267caee54",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        620
      ]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "={{ $('Video Category').first().json['Bucket Name'] }}",
        "objectName": "=video-{{ $('Video Category').first().json['Unique ID'] }}.mp4",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "6e2df5e3-1ce1-4129-a032-9ba8db4aeb8c",
      "name": "Save Video",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        2680,
        620
      ],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "APyiw1TsvCcUIbPY",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {},
      "id": "15ca8ba7-cf6b-4728-a476-cc6c02718066",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1660,
        380
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "f2ec9d3b-0540-44aa-b54f-340508a2ffb5",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        380
      ],
      "webhookId": "5b132bd7-b323-4e67-9b2a-82f3cb65ccb5"
    },
    {
      "parameters": {
        "jsCode": "return $items('Open AI Whisper').map(item => {\n  const words = item.json.words;\n  const result = [];\n\n  for (let i = 0; i < words.length; i += 3) {\n    const chunk = words.slice(i, i + 3);\n    result.push({\n      words: chunk.map(word => word.word.charAt(0).toUpperCase() + word.word.slice(1)).join(' '),\n      start: chunk[0].start,\n      end: chunk[chunk.length - 1].end,\n    });\n  }\n\n  return {\n    json: {\n      chunks: result,\n    },\n  };\n});"
      },
      "id": "e775c89f-fb84-4650-84d8-e9c9f0670348",
      "name": "Combine Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ai-automation-community.vercel.app/api/function/video-generation/mix-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"type\": \"MixVideo\",\n    \"data\": {\n        \"background_url\": \"{{ $json['Music URL'] }}\",\n        \"media_list\": [\"{{ $json['Video URL'] }}\",{{ Array.from({ length: $('Create a List of Image Text').first().json.groups.length - 1 }, (_, i) => \n  `\"https://${$('Video Category').first().json['Bucket Name']}.storage.googleapis.com/image-${ $('Video Category').first().json['Unique ID'] }-${i + 2}.jpeg\"`\n) }}],\n        \"voice_url\": \"{{ $('Map Public Link').first().json['Audio URL'] }}\",\n        \"transcripts\": {{ JSON.stringify($('Combine Transcript').item.json.chunks) }}\n    }\n}",
        "options": {}
      },
      "id": "90b467e4-57dc-4870-a773-8be3a259014f",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        940
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "nUz6f0iEIOeYGrBs",
          "name": "Andy No Code API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "256f6069-680b-45e4-a378-1d861e8d1345",
              "name": "Music URL",
              "value": "=https://{{ $('Video Category').first().json['Bucket Name'] }}.storage.googleapis.com/bg.mp3",
              "type": "string"
            },
            {
              "id": "64e6eecb-6e36-4ea1-ab84-5ec3515257f8",
              "name": "Video URL",
              "value": "=https://{{ $('Video Category').first().json['Bucket Name'] }}.storage.googleapis.com/video-{{ $('Video Category').first().json['Unique ID'] }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "28f1cf55-4c4c-4f4d-96c2-5b0be2168dc3",
      "name": "Map Music and Video",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        940
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "6ec247bb-1d9b-4adc-9416-8da9b63c9d9f",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1080,
        940
      ],
      "webhookId": "7f4ac6f7-8008-40c4-8ceb-65e11576d63f"
    },
    {
      "parameters": {
        "url": "=https://ai-automation-community.vercel.app/api/function/video-generation/progress/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "71c63701-3ab9-476b-8717-5a282eae2d42",
      "name": "Get Video Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        940
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "nUz6f0iEIOeYGrBs",
          "name": "Andy No Code API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20ad719d-640a-4932-b115-d4f75b7b99c7",
              "name": "Final Video URL",
              "value": "=https://api.andynocode.com{{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "231526c8-09c7-47fb-9c4b-f70ea92445d2",
      "name": "Set Final Video URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        920
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Video Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 417115235,
          "mode": "list",
          "cachedResultName": "proxa-sam",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit#gid=417115235"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Captions": "={{ $json.choices[0].message.content.caption }}",
            "Video Url": "=https://api.andynocode.com{{ $('Get Video Progress').item.json.data.url }}",
            "Video Title": "={{ $json.choices[0].message.content.title }}",
            "Instagram Post Status": "pending",
            "Tiktok Post Status": "pending",
            "Youtube Post Status": "pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url",
              "displayName": "Video Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Post Status",
              "displayName": "Instagram Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiktok Post Status",
              "displayName": "Tiktok Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Post Status",
              "displayName": "Youtube Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Time",
              "displayName": "Post Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Captions",
              "displayName": "Captions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issues",
              "displayName": "Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a37c924a-dfaa-48aa-82db-94cf30e05fa9",
      "name": "Save Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2040,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a07a33ca-17e0-44bf-a19d-7b1df6f0094c",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c427a82c-33a4-4574-9430-7208c7b58c2c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb7df397-62d6-4083-8a31-82737df9fb27",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee2842c3-da48-4139-92e3-0395bb2b2125",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        380
      ]
    },
    {
      "parameters": {
        "content": "## Step 1 Generate Script and Voiceover",
        "height": 250.12406863473316,
        "width": 1167.9213954553368
      },
      "id": "4e21495b-aa0b-4c82-bdb0-cfa179e1e0f6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        475.205902022607,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Step 2 Create Image Prompts and Generate Images",
        "height": 424.5782425316457,
        "width": 1061.179548189178,
        "color": 2
      },
      "id": "404a1bc3-c5a7-49d7-bda0-5ad761a61773",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Step 3 Create Video From Hailuo AI For the First IMage",
        "height": 466.09300284551637,
        "width": 1260.310009485054,
        "color": 6
      },
      "id": "d54cd4cb-5753-4db1-9f85-fb0c964d7a4d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Create Transcripts and Generate Video Using Andy No Code",
        "height": 338.4437346927717,
        "width": 1764.3989829791692,
        "color": 4
      },
      "id": "36966b85-849b-4bf8-bfff-f83a9180a061",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        860
      ]
    },
    {
      "parameters": {
        "content": "## Upload to Youtube",
        "height": 448.52438361135125,
        "width": 845.3065009161537,
        "color": 7
      },
      "id": "0be5da6e-fc17-4e48-ad5a-da3d2322db5c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1240
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json['Video Title'].replaceAll(\"\\\"\", \"\") }}",
        "regionCode": "HK",
        "categoryId": "1",
        "options": {
          "description": "={{ $json.Captions }}"
        }
      },
      "id": "de1ec49a-aed0-420f-8808-23d1737ddc0c",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1000,
        1320
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "FTgX6cHqwDxzGgBQ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Video Url'] }}",
        "options": {}
      },
      "id": "a35b2f41-e46d-476e-b24b-01c872b8429a",
      "name": "Download Short Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1320
      ]
    },
    {
      "parameters": {
        "content": "## Upload to Instagram",
        "height": 456.0560372404024,
        "width": 1447.7682819638826,
        "color": 7
      },
      "id": "6d91cef2-2a1f-4867-8e02-1cd7fafde113",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Video Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Youtube Post Status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "be5f2e4d-3528-4cdf-a67c-891d5f2393a8",
      "name": "Grab Video From Youtube",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        1320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Video Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Instagram Post Status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "813d89ab-fc50-4a6b-ae05-a4533571acd1",
      "name": "Grab Video From Instagram",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1560,
        1500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/oauth/access_token?grant_type=fb_exchange_token&client_id={{ $json.app_id }}&fb_exchange_token={{ $json.access_token }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "37a46719-85b8-4754-b593-482a7e29ab61",
      "name": "Exchange Long Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        1320
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "IeeOS92IRxQRxM8d",
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae74a0-7d74-4ca4-909b-276a63578442",
              "name": "access_token",
              "value": "",
              "type": "string"
            },
            {
              "id": "0893dc2a-2cad-43dc-9aa8-b7a461e4d04f",
              "name": "app_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f5a3e5e-7f85-4b98-a521-07b4fa78e338",
      "name": "First Access Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Retrieve Page ID').item.json.page_id }}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"REELS\",\n  \"video_url\": \"{{ $('Grab Video From Instagram').item.json['Video Url'] }}\",\n  \"caption\": \"{{ $('Grab Video From Instagram').item.json.Captions }}\",\n  \"access_token\": \"{{ $json.fb_access_token }}\"\n}",
        "options": {}
      },
      "id": "4243f07b-f891-44c5-8fe1-c8b8e6ba6287",
      "name": "Post Instagram Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Retrieve Page ID').item.json.page_id }}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\",\n  \"access_token\": \"{{ $('Retrieve Access Token').item.json.fb_access_token }}\"\n}",
        "options": {}
      },
      "id": "183399c3-4c64-40a3-a359-a17ae13b9546",
      "name": "Post Instagram Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        1500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Video Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Grab Video From Youtube').item.json.row_number }}",
            "Post Time": "={{ $now }}",
            "Youtube Post Status": "posted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url",
              "displayName": "Video Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram Post Status",
              "displayName": "Instagram Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiktok Post Status",
              "displayName": "Tiktok Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Post Status",
              "displayName": "Youtube Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Time",
              "displayName": "Post Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Captions",
              "displayName": "Captions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issues",
              "displayName": "Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f0576641-3f83-4dc3-b5bd-b02d3ae0608b",
      "name": "Update Video Status of Youtube",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        1320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "fb_access_token",
        "value": "={{ $('Get Page Access Token').item.json.data[0].access_token }}"
      },
      "id": "dcaac2e2-e276-42c5-be0a-8e5ebda774b4",
      "name": "Save Access Token Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2440,
        1320
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "fb_access_token",
        "key": "fb_access_token",
        "options": {}
      },
      "id": "99d42c4b-8beb-4450-ab6c-9f06a1b8f5e6",
      "name": "Retrieve Access Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1900,
        1500
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "aedd250f-b92a-4f74-8c31-509ad2edc7e7",
      "name": "Wait Media Upload",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        1500
      ],
      "webhookId": "c5014960-4886-4bbc-8cd0-ece9009c1dd5"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.instagram_business_account.id }}?access_token={{ $('Get Page Access Token').item.json.data[0].access_token }}",
        "options": {}
      },
      "id": "87b918df-2b91-4605-b798-9e03b707a727",
      "name": "Retrieve Instagram Account Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        1320
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/me/accounts?access_token={{ $json.access_token }}",
        "options": {}
      },
      "id": "be262f22-b671-418e-9e0c-3b257c2ccfe6",
      "name": "Get Page Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        1320
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.data[0].id }}?fields=instagram_business_account&access_token={{ $json.data[0].access_token }}",
        "options": {}
      },
      "id": "085397ce-45a0-41e0-9713-3baae2af5bc5",
      "name": "Get Linked Instagram Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "page_id",
        "key": "page_id",
        "options": {}
      },
      "id": "14b35945-88bc-4e2f-baf7-4c173160612a",
      "name": "Retrieve Page ID",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1720,
        1500
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Youtube Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Grab Video From Instagram').item.json.row_number }}",
            "Post Time": "={{ $now }}",
            "Instagram Post Status": "posted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url",
              "displayName": "Video Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram Post Status",
              "displayName": "Instagram Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiktok Post Status",
              "displayName": "Tiktok Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Post Status",
              "displayName": "Youtube Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Time",
              "displayName": "Post Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Captions",
              "displayName": "Captions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issues",
              "displayName": "Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d9c3237a-a9d1-4279-a2f0-fa15a44a49e1",
      "name": "Update Video Status of Instagram",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2600,
        1500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Upload to Tiktok",
        "height": 884.7691372330796,
        "width": 1519.9450729459186,
        "color": 7
      },
      "id": "aa48530e-1a9f-427d-acaa-15a9585c935c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6374a07c-6008-4851-9289-aea0282ed1ae",
              "name": "Redirect Link",
              "value": "=https://www.tiktok.com/v2/auth/authorize/?client_key={{ $json['Client Key'] }}&scope={{ $json.Scope }}&response_type=code&redirect_uri={{ $json['Redirect URI'] }}&state={{ $json.State }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a46c473b-21c3-40c9-ba9e-2f85f72ef053",
      "name": "Redirect Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        1820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/oauth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_key",
              "value": "={{ $json['Client Key'] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json['Client Secret'] }}"
            },
            {
              "name": "code",
              "value": "={{ $('Webhook').item.json.query.code }}"
            },
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $('Webhook').item.json.webhookUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac70b597-d828-4f6c-88cd-8878f14adf83",
      "name": "Exchange Tiktok Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        1820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467cd11b-bf1e-4d9c-b19f-b0205d59a1ea",
              "name": "Client Key",
              "value": "sbawgbcoi64gbeqwxh",
              "type": "string"
            },
            {
              "id": "14d9ed47-be86-4987-ad20-337805b0bb6a",
              "name": "Client Secret",
              "value": "xxxxxxxxxx",
              "type": "string"
            },
            {
              "id": "8c4e612d-c9e1-4529-8307-59493a544d38",
              "name": "Scope",
              "value": "user.info.basic,video.publish",
              "type": "string"
            },
            {
              "id": "a2dc77a2-db5d-4df4-b4a8-080ba3660df2",
              "name": "Response Type",
              "value": "code",
              "type": "string"
            },
            {
              "id": "183e53bf-46f1-463a-9880-ddcdc528e5ec",
              "name": "Redirect URI",
              "value": "https://proxatest.app.n8n.cloud/webhook-test/478b2afc-fe15-4427-a386-7aaa5f85710b",
              "type": "string"
            },
            {
              "id": "491137da-145c-45b2-b508-6398e7d26736",
              "name": "State",
              "value": "={{ Math.random().toString(36).substring(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c29c792-33bb-4f97-9b0d-6a922118519b",
      "name": "Set Params Tiktok",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        1820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467cd11b-bf1e-4d9c-b19f-b0205d59a1ea",
              "name": "Client Key",
              "value": "sbawgbcoi64gbeqwxh",
              "type": "string"
            },
            {
              "id": "14d9ed47-be86-4987-ad20-337805b0bb6a",
              "name": "Client Secret",
              "value": "jtPACwFiq8zAGDPNlYyvm7benYq7k811",
              "type": "string"
            },
            {
              "id": "8c4e612d-c9e1-4529-8307-59493a544d38",
              "name": "Scope",
              "value": "user.info.basic,video.publish",
              "type": "string"
            },
            {
              "id": "a2dc77a2-db5d-4df4-b4a8-080ba3660df2",
              "name": "Response Type",
              "value": "code",
              "type": "string"
            },
            {
              "id": "183e53bf-46f1-463a-9880-ddcdc528e5ec",
              "name": "Redirect URI",
              "value": "https://proxatest.app.n8n.cloud/webhook-test/478b2afc-fe15-4427-a386-7aaa5f85710b",
              "type": "string"
            },
            {
              "id": "491137da-145c-45b2-b508-6398e7d26736",
              "name": "State",
              "value": "={{ Math.random().toString(36).substring(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5d97c444-c1d7-47f8-8680-656e52668b19",
      "name": "Set Params Retrieve",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "page_id",
        "value": "={{ $json.id }}"
      },
      "id": "8e738184-3fcc-49ee-9a69-3622fde1156a",
      "name": "Set Instagram Page ID",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2620,
        1320
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "tiktok_access_token",
        "value": "={{ JSON.stringify({ \"data\": $json, \"expiry_date\": $json.expires_in * 1000 + $now }) }}"
      },
      "id": "77dc6574-6668-4942-a370-3d1061c046e1",
      "name": "Set Tiktok Access Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1640,
        1820
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "accessToken",
        "key": "tiktok_access_token",
        "options": {}
      },
      "id": "b5e33438-39a8-4fb8-853d-9a3a822420f5",
      "name": "Get Access Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        840,
        2120
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9fe9ac6-dced-4e81-a18e-b4b9f35331db",
              "leftValue": "={{ $json.accessToken.expiry_date }}",
              "rightValue": "={{ $now.toMillis() }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3aa637ca-8f11-4090-9586-c5230f989ac5",
      "name": "If Check Time Expiry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        2120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json.accessToken = JSON.parse(item.json.accessToken);\n  return item;\n});\nreturn updatedItems;\n"
      },
      "id": "2f0aae1f-b2c8-479b-bdc0-0e271a6411ea",
      "name": "Json Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        2120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467cd11b-bf1e-4d9c-b19f-b0205d59a1ea",
              "name": "Client Key",
              "value": "sbawgbcoi64gbeqwxh",
              "type": "string"
            },
            {
              "id": "14d9ed47-be86-4987-ad20-337805b0bb6a",
              "name": "Client Secret",
              "value": "jtPACwFiq8zAGDPNlYyvm7benYq7k811",
              "type": "string"
            },
            {
              "id": "8c4e612d-c9e1-4529-8307-59493a544d38",
              "name": "Scope",
              "value": "user.info.basic,video.publish",
              "type": "string"
            },
            {
              "id": "a2dc77a2-db5d-4df4-b4a8-080ba3660df2",
              "name": "Response Type",
              "value": "code",
              "type": "string"
            },
            {
              "id": "183e53bf-46f1-463a-9880-ddcdc528e5ec",
              "name": "Redirect URI",
              "value": "https://proxatest.app.n8n.cloud/webhook-test/90663ff0-54b2-46c7-b62d-c10a3ab632dc",
              "type": "string"
            },
            {
              "id": "491137da-145c-45b2-b508-6398e7d26736",
              "name": "State",
              "value": "={{ Math.random().toString(36).substring(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ccdda88-a12e-49d9-b97b-b2bb4b4f6488",
      "name": "Set Params Refresh",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        2120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/oauth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_key",
              "value": "={{ $('Set Params Refresh').item.json['Client Key'] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Set Params Refresh').item.json['Client Secret'] }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Json Parse').item.json.accessToken.data.refresh_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f9af3d3-30d0-4bbd-9519-d124bb11ca65",
      "name": "Refresh Tiktok Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "tiktok_access_token",
        "value": "={{ JSON.stringify({ \"data\": $json, \"expiry_date\": $json.expires_in * 1000 + $now }) }}"
      },
      "id": "c0903eb4-0787-4c85-a27c-c4404601386b",
      "name": "Update Tiktok Access Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1700,
        2040
      ],
      "credentials": {
        "redis": {
          "id": "ItUh8nT63JJqeEwt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Video Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Tiktok Post Status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "3b207681-5fff-45e7-808f-3bcce674ca59",
      "name": "Grab Video From Tiktok",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        2120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccdaa746-c7f8-40f7-90d8-763e5034c092",
              "name": "Access Token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "73a2c079-ca58-46d8-b8f6-8fc654b92479",
      "name": "Tiktok Access Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        2220
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Grab Video From Tiktok').first().json['Video Url'] }}",
        "options": {}
      },
      "id": "16ea7c97-90f5-446a-96cf-ab930bc19887",
      "name": "Download Video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        2440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Tiktok Access Token').item.json['Access Token'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": \"{{ $('Grab Video From Tiktok').first().json['Video Title'] }}\",\n    \"privacy_level\": \"SELF_ONLY\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false,\n    \"video_cover_timestamp_ms\": 1000,\n    \"brand_content_toggle\": false,\n    \"brand_organic_toggle\": false,\n    \"disclose_video_content\": false,\n    \"is_aigc\": true\n  },\n  \"source_info\": {\n    \"source\": \"FILE_UPLOAD\",\n    \"video_size\": {{ $json.bufferSize }},\n    \"chunk_size\": {{ $json.bufferSize }},\n    \"total_chunk_count\": 1\n  }\n}",
        "options": {}
      },
      "id": "b4e7149b-663d-4740-b7c4-939e5252da88",
      "name": "Get Upload URL For Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2440
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $items('Json Parse');\nconst updatedItems = items.map((item) => {\n  const data = item?.json?.accessToken?.data;\n  delete item?.json?.accessToken;\n  return { ...item.json, ...data };\n});\nreturn updatedItems;\n"
      },
      "id": "290c0fdf-6eec-424b-8401-2487c54911bb",
      "name": "Access Token Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        2220
      ]
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn {\n  bufferSize: buffer.length\n};"
      },
      "id": "cd103aa1-240c-4f59-9726-c3197f00c803",
      "name": "Convert Buffer Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2440
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Grab Video From Tiktok').first().json['Video Url'] }}",
        "options": {}
      },
      "id": "e8e3cba4-5720-4a27-8e9f-2d375e0e5294",
      "name": "Download Video2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        2440
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.data.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "Content-Range",
              "value": "=bytes 0-{{ $('Convert Buffer Size').item.json.bufferSize - 1 }}/{{ $('Convert Buffer Size').item.json.bufferSize }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "78a5811a-e9e9-4fed-b8c9-173063dedf91",
      "name": "Upload To Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        2440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Youtube Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=proxa-sam",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Grab Video From Tiktok').item.json.row_number }}",
            "Post Time": "={{ $now }}",
            "Tiktok Post Status": "posted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url",
              "displayName": "Video Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram Post Status",
              "displayName": "Instagram Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiktok Post Status",
              "displayName": "Tiktok Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Post Status",
              "displayName": "Youtube Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Time",
              "displayName": "Post Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Captions",
              "displayName": "Captions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issues",
              "displayName": "Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "98490029-7241-4b8e-a1e7-244102977c88",
      "name": "Update Video Status of Tiktok",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        2440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXkt3mkIhz4ruk1c",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-ai/DeepSeek-V3\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(`You are a YouTube video scriptwriter specializing in ultra-short narratives. Craft a 15-second voiceover script that transforms a given video category (e.g., cooking, tech, fitness) into a captivating micro-story.\n\nRequirements:\n\nHook Immediately: Start with a surprising fact, question, or twist tied to the category.\n\nEmotional Arc: Condense a beginning, middle, and end into 3–4 sentences.\n\nVivid Language: Use sensory words (e.g., sizzle, whisper, blaze) to spark imagination.\n\nPunchy Conclusion: End with a witty, mysterious, or thought-provoking line.\n\nExample (Fitness Category):\n“Your heartbeat thrums—three seconds left. The weight’s crushing, but so was your boss’s email. Muscles scream, but you grin. Because today, the world bends… not you.”\n\nRules:\n\nNo \\\", \\' and all other punctuations\n\nNo scene directions, titles, or visuals—voiceover text only.\n\nAvoid generic phrases (“Imagine a world…”). Be specific and unexpected.\n\nPrioritize rhythm and pacing for 15-second retention.\n\nDeliverable:\nA standalone script that turns a category into a story viewers feel in 15 seconds.`) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['Video Category'] }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "d153da8a-6a51-4382-9d4a-22693f09d1b7",
      "name": "Generate Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QZsvmtZA43DzE9MH",
          "name": "Together AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-ai/DeepSeek-V3\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(`You are an image prompt designer, your task is to convert the following transcript text into image prompt for image generation model. Take the context of the whole video story and create custom image prompt for a snippet of transcript.\n\nHere are the style of the image:\nStyle: Hyperrealism, 8K\n\n***Video Story***\n${ $('Generate Transcript').item.json.choices[0].message.content }\n\n***SAMPLE OUTPUT***\nA serene white cat with bright, inquisitive eyes and a fluffy coat, is captured in a side view, walking gingerly over the frozen Han River in Korea, with the majestic Seoul skyline and the iconic Hannam Bridge visible in the background. The cat's tiny paws leave gentle footprints on the snow-covered ice as it makes its way across the river, its tail twitching slightly with each step. The winter landscape is bathed in a soft, pale blue light, with the frosty air misting up from the river's surface, adding to the tranquil atmosphere. The bridge's steel arches and suspension cables create a striking contrast to the delicate, snow-dusted trees and the frozen riverbank, while the cat remains the focal point, exuding an irresistible air of cuteness and curiosity.\n\n***Don't Include **Image Prompt:**  ***`) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['text'] }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "376e782b-68ed-4a7b-8c5e-ea2ab48fcd13",
      "name": "Generate Image Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QZsvmtZA43DzE9MH",
          "name": "Together AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-ai/DeepSeek-V3\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify(`Transform the following transcript into a YouTube Shorts title and caption. The title should be punchy and attention-grabbing (max 30 words), while the caption should be concise, engaging, and visually descriptive (max 500 words). Focus on keeping the tone energetic and appealing to YouTube Shorts viewers. Incorporate a clear call-to-action where relevant, while preserving the transcript's core message. Avoid using emojis.\n\n**RETURN JSON String only, don't add json text and other informative text. Don't add \\`\\`\\`json or \\`\\`\\`\n\nOutput Schema:\n{\n  \"title\": \"string\",\n  \"caption\": \"string\"\n}`) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Generate Transcript').first().json.choices[0].message.content }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "459c8744-a8e7-475f-ab1c-88c11ee9a320",
      "name": "Get Captions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        920
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QZsvmtZA43DzE9MH",
          "name": "Together AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  try {\n    const content = JSON.parse(item?.json?.choices[0]?.message?.content);\n    item.json.choices[0].message.content = content;\n  } catch (error) {\n    console.log(\"Error parsing JSON string\", error);\n  }\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "id": "50d3eb62-168e-4116-a2ae-189a4ab97af7",
      "name": "JSON to Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        920
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "61db7eeb-d71c-4644-8e54-ba3d2fd4ca3b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        520,
        1320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "90508cee-4164-4194-933b-3f366b1379ed",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1400,
        1320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "962d2ea6-03d5-4e4a-906f-219ffc747eae",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1400,
        1500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2f7d6095-ce8d-4c5c-89a8-fe944968328d",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        520,
        2120
      ]
    },
    {
      "parameters": {
        "path": "478b2afc-fe15-4427-a386-7aaa5f85710b",
        "options": {}
      },
      "id": "a2904d46-22c9-4443-bd7c-da9feba4b050",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1120,
        1820
      ],
      "webhookId": "478b2afc-fe15-4427-a386-7aaa5f85710b",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Video Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Category": {
      "main": [
        [
          {
            "node": "Generate Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Elevenlabs": {
      "main": [
        [
          {
            "node": "Save Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Public Link": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Open AI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open AI Whisper": {
      "main": [
        [
          {
            "node": "Create a List of Image Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a List of Image Text": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get Image Base 64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Base 64": {
      "main": [
        [
          {
            "node": "Convert to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image": {
      "main": [
        [
          {
            "node": "Save Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hailuo Status": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hailuo Download Link": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Hailuo AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Hailuo Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video": {
      "main": [
        [
          {
            "node": "Combine Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Transcript": {
      "main": [
        [
          {
            "node": "Map Music and Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Music and Video": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Video Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Progress": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Video URL": {
      "main": [
        [
          {
            "node": "Get Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Final Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get Hailuo Download Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Update Video Status of Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Short Video": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Video From Youtube": {
      "main": [
        [
          {
            "node": "Download Short Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Long Credentials": {
      "main": [
        [
          {
            "node": "Get Page Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access Global": {
      "main": [
        [
          {
            "node": "Exchange Long Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Video From Instagram": {
      "main": [
        [
          {
            "node": "Retrieve Page ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Instagram Media": {
      "main": [
        [
          {
            "node": "Wait Media Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Instagram Reel": {
      "main": [
        [
          {
            "node": "Update Video Status of Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Access Token": {
      "main": [
        [
          {
            "node": "Post Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Media Upload": {
      "main": [
        [
          {
            "node": "Post Instagram Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Access Token": {
      "main": [
        [
          {
            "node": "Get Linked Instagram Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linked Instagram Accounts": {
      "main": [
        [
          {
            "node": "Retrieve Instagram Account Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Instagram Account Information": {
      "main": [
        [
          {
            "node": "Save Access Token Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Access Token Redis": {
      "main": [
        [
          {
            "node": "Set Instagram Page ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Page ID": {
      "main": [
        [
          {
            "node": "Retrieve Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params Tiktok": {
      "main": [
        [
          {
            "node": "Redirect Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params Retrieve": {
      "main": [
        [
          {
            "node": "Exchange Tiktok Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Tiktok Access Token": {
      "main": [
        [
          {
            "node": "Set Tiktok Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Json Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json Parse": {
      "main": [
        [
          {
            "node": "Grab Video From Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params Refresh": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check Time Expiry": {
      "main": [
        [
          {
            "node": "Refresh Tiktok Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Access Token Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Tiktok Token": {
      "main": [
        [
          {
            "node": "Update Tiktok Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Video From Tiktok": {
      "main": [
        [
          {
            "node": "If Check Time Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiktok Access Token": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Convert Buffer Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Token Clean": {
      "main": [
        [
          {
            "node": "Tiktok Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Buffer Size": {
      "main": [
        [
          {
            "node": "Get Upload URL For Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upload URL For Tiktok": {
      "main": [
        [
          {
            "node": "Download Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video2": {
      "main": [
        [
          {
            "node": "Upload To Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Tiktok": {
      "main": [
        [
          {
            "node": "Update Video Status of Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tiktok Access Token": {
      "main": [
        [
          {
            "node": "Tiktok Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Transcript": {
      "main": [
        [
          {
            "node": "Fetch Elevenlabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio": {
      "main": [
        [
          {
            "node": "Map Public Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hailuo AI": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Captions": {
      "main": [
        [
          {
            "node": "JSON to Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Object": {
      "main": [
        [
          {
            "node": "Save Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab Video From Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "First Access Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Grab Video From Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Set Params Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Params Retrieve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af2fa35c-d0b1-47fa-a501-13e07259febd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4221cc7208f142ff91856b22776eec81b71c256154ec8030569832c22d0c66d9"
  },
  "id": "eIKmGfNtCnR7JbQa",
  "tags": []
}