workflows/video-faceless-cat-automation.json
{
  "name": "Tutorial 15.1 - Faceless AI Workflow: Cat Video Fully Automated Template (n8n No-code Template)",
  "nodes": [
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/minimax/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 280],
      "id": "a972da25-4471-458e-bb65-43c48ee55776",
      "name": "Fal Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uAKq9dB0bdewPM3m",
          "name": "Fal Account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "video.url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [700, 280],
      "id": "5f23c999-5811-432b-affc-4fc075a12b34",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.andynocode.com/api/function/video-generation/loop-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"type\": \"LoopVideo\",\n    \"data\": {\n        \"background_url\": \"{{ $('Configuration').item.json['Background Music'] }}\",\n        \"media_list\": {{ JSON.stringify($('Aggregate').item.json.url) }},\n        \"duration\": {{ $('Aggregate').item.json.url.length * 5 }}\n    }\n}",
        "options": {}
      },
      "id": "c32fd0cb-cb24-4b53-b3b5-8299db8175de",
      "name": "Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 280],
      "credentials": {
        "httpQueryAuth": {
          "id": "fcvYDW2dmK19zSzW",
          "name": "Andynocode"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.andynocode.com/api/function/video-generation/progress/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "930109f6-5374-4e68-81a3-05812535e302",
      "name": "Get Video Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 280],
      "credentials": {
        "httpQueryAuth": {
          "id": "fcvYDW2dmK19zSzW",
          "name": "Andynocode"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.andynocode.com{{ $('Get Video Progress').first().json.data.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 100],
      "id": "21b98988-5ba3-4aae-a323-01b3fae0244d",
      "name": "Download Video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Create Video Title').item.json.message.content }}",
        "regionCode": "HK",
        "categoryId": "15",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [1820, 100],
      "id": "40ab649f-3afc-4baa-bda1-183a1bfe9613",
      "name": "Upload YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LxzrAWlfoDjxotpX",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [280, 280],
      "id": "298ebb1e-681c-4732-86ac-7ca860bfd4b2",
      "name": "Wait2",
      "webhookId": "36f1ac79-446c-4656-9d51-b42c1e507e1e"
    },
    {
      "parameters": {
        "content": "# 🆅🅸🅳🅴🅾 🅰🅸 🅰🅶🅴🅽🆃",
        "height": 280,
        "width": 1220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 200],
      "id": "e23bd6cc-1c92-4921-9e3f-1d7c9145811d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1020, 280],
      "id": "7429c801-6429-417b-a02c-9ea425359dd4",
      "name": "Wait3",
      "webhookId": "d0233e92-deee-43df-9258-ba92b706b99e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/minimax/video-01/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=[Static shot]"
            },
            {
              "name": "image_url",
              "value": "={{ $json.images[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [120, 280],
      "id": "4ceb3e30-16c7-4353-9f09-65af95b46ee1",
      "name": "Fal Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uAKq9dB0bdewPM3m",
          "name": "Fal Account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [120, 60],
      "id": "c6ac922d-c626-4f75-ad16-0de60de16524",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "r8ke3v2Ed5mDueMH",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"image_prompt_list\": [\"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency.\\n\\nIn the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment. In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama.\\n\\nThe lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [300, 60],
      "id": "228af83b-90f0-426a-bfef-2bb8ef13ef46",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Could you help me create a prompt for a short film? \n\nMain Character: A fat, plump, round-bellied orange tabby cat.\n\n{{ $json.text }}\n\nFor each scene, we need to highlight the main character. Treat each scene as a separate prompt. Output in a array of image prompt.\n\nPlease find the sample prompt for flux for one scene below:\n\n\"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency.\n\nIn the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment. In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama.\"\n\nThe lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\"\n\nNUMBER OF IMAGE PROMPT: {{ $json['Number of Video'] }}\n\nExample Output (for n=2):\n```json```\n{\n  \"image_prompt_list\": [\"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency. In the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment. In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama. The lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\",\n  ]\n}\n```json```",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [120, -80],
      "id": "df19165e-82ef-4b1d-b681-726f309c462d",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.image_prompt_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [480, -80],
      "id": "c4236eb6-7d24-483c-af53-cf0e61fd5604",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -80],
      "id": "0d6ae4d3-b1d0-4ae8-9b3e-3d303faaf5f9",
      "name": "Fal Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uAKq9dB0bdewPM3m",
          "name": "Fal Account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🅸🅼🅰🅶🅴 🅰🅸 🅰🅶🅴🅽🆃",
        "height": 320,
        "width": 1220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, -140],
      "id": "66856f42-aa46-4ac4-855c-a7ed70479916",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [800, -80],
      "id": "8f71ff99-fb2d-43d8-9f38-3f17692bceaf",
      "name": "Wait1",
      "webhookId": "3cfce26f-e350-430c-a7d1-72b5fd770f8d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-pro/v1.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json['output.image_prompt_list'] }}"
            },
            {
              "name": "image_size",
              "value": "portrait_16_9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, -80],
      "id": "d2c49208-ee64-427f-a345-a107120939d5",
      "name": "Fal Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uAKq9dB0bdewPM3m",
          "name": "Fal Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a28768-ada1-49eb-8d09-fc89f2339aa9",
              "name": "Number of Video",
              "value": "2",
              "type": "string"
            },
            {
              "id": "e16f938f-2ae0-49ae-804e-1ef701557241",
              "name": "Background Music",
              "value": "https://api.andynocode.com/assets/music/bgm.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-420, -80],
      "id": "7c9a5365-42c1-4d93-b6c4-ec824134141e",
      "name": "Configuration"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -80],
      "id": "0671f53b-20da-4c1d-8ecd-10dcfd92493e",
      "name": "Preview Image"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 280],
      "id": "694c9852-9ce4-42ff-9d37-7a442b25c545",
      "name": "Preview Video"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek/deepseek-chat",
          "mode": "list",
          "cachedResultName": "DEEPSEEK/DEEPSEEK-CHAT"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a Youtube Video Title in 80 characters of the following scene text. Do not include any newlines, Emojis and Punctuations. Keep it clean and engaging. Only return the title text.\n\nVIDEO TITLE MUST BE IN 30 WORDS\nOUTPUT THE TITLE ONLY, DONT ADD ANY NEWLINES, EMOJIS AND PUNCTUATIONS.",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify($('Generate Image Prompt').first().json.output.image_prompt_list) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1360, 100],
      "id": "7fabd64c-4c46-4adf-83ad-a79beb258206",
      "name": "Create Video Title",
      "credentials": {
        "openAiApi": {
          "id": "TxpAthDhg4CIxj1G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-260, 80],
      "id": "b20290af-8da3-4cfc-9bbc-ba0925d6ac16",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "r8ke3v2Ed5mDueMH",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a creative cat story using the exact format below. Your story must include:\n\n1. A Story summary that outlines the narrative in 30 words (for instance, a cat who notices a gorgeous female cat, decides to get in shape, but ends up heartbroken when he learns she already has a boyfriend).\n2. At least four detailed Scenes. Each scene should be written as a single sentence in 30 words.\n3. The Main Character is a fat, plump, round-bellied orange tabby cat.\n\n\nOUTPUT STRUCTURE EXAMPLE, OUTPUT MUST BE EXACTLY THE SAME STRUCTURE AS THE EXAMPLE:\n\"Story: After noticing a gorgeous female cat girl, he resolves to get in shape to win her over. But he got heart-broken after finding out that she got a boyfriend already.\n\nNumber of Scenes: {{ $json['Number of Video'] }} scenes\n\nScene 1 - He is crying as his girlfriend, a slim female grey cat, is walking away from him\nScene 2 - Feeling Anxious about his own fat body shape\nScene 3 - Lifting weights in Gym in the. Wearing a tight, yellow athletic singlet with blue trim. The text \"Andynocode\" is printed across the front in a sporty, bold font.\nScene 4 - Become muscular and handsome, wearing suits and sunglasses, looking cool\"",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-280, -80],
      "id": "3ac31317-0209-421f-975a-6ff5bbf53909",
      "name": "Idea Generation Agent"
    },
    {
      "parameters": {
        "content": "# 🆂🆃🅾🆁🆈 🅰🅶🅴🅽🆃",
        "height": 360,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-620, -140],
      "id": "c479d5cb-a143-4cb5-b88c-26f77c38b235",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-580, -80],
      "id": "d49941ed-7b78-423e-a30f-c83e97820866",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Fal Get Video": {
      "main": [
        [
          {
            "node": "Preview Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Progress": {
      "main": [
        [
          {
            "node": "Create Video Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Fal Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Video Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Generate Video": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Fal Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Get Image": {
      "main": [
        [
          {
            "node": "Preview Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Fal Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Generate Image": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Idea Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Image": {
      "main": [
        [
          {
            "node": "Fal Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Title": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generation Agent": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1aa2e93d-c7a9-404e-b8c9-90958afe4aad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1740c26791c747bf49d93178a26934eaaffaca5ab2d087ae7e06b06ed236dff6"
  },
  "id": "FFUywC37wImrdUV1",
  "tags": []
}
